.topline{
    display: flex;
    justify-content: center;
    padding-top:50px ;
}

.Aboutus{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;


    .Chelsea{
        width: 500px;
        text-align: center;
        

        h2{
            font-size: 40px;
        }

        p{
            font-size: 30px;
        }
    }

    .Vanshika{
        width: 500px;
        text-align: center;
        

        

        h2{
            font-size:40px;
        }

        p{
            font-size: 30px;
        }
    }
    
    .Ricardo{
        width:500px;
        text-align:center;
        .

        h2{
            font-size:40px;
        }

        p{
            font-size: 30px;
        }

    }

    .Zoe{
        width:500px;
        text-align: center;

       

        h2{
            font-size:40px;
        }
        p{
            font-size: 30px;
        }
    }

    .Rodrigo{
        width: 500px;
        text-align: center;
        

        h2{
            font-size: 40px;
        }
        p{
            font-size: 30px;
        }
    }


}
