header{
    background-color:#40E0D0;
    display:flex ;
    justify-content: space-between;

    .logo {
        margin-left:55px;
        
    }

    nav{
        display: flex;
        justify-content: space-evenly;
        width: 800px;
        padding-top: 30px;
        font-size: 20px;
        text-decoration: none;
    }

    a{
        text-decoration: none;
        color: white;
    }
}