header{
    background-color:@main-color;
    display:flex ;
    justify-content: space-between;

    

    .logo {
        margin-left:55px;

        //MEDIA
    @media @phone{
        margin-left: 5px;
    }
        
    }

    nav{
        display: flex;
        justify-content: space-evenly;
        width: 800px;
        padding-top: 30px;
        font-size: 20px;
        text-decoration: none;
    }

    a{
        text-decoration: none;
        color: white;
    }
}